<footer>
  <div class="footer-container">
    {{ if .ShowGithub }}
    <div class="footer-logo" onclick="goToNewTab('https://github.com/zcubbs/hub')">
      <img src="/assets/github-light.png" alt="Logo" />
      <span>zcubbs/hub - v{{.Version}}</span>
    </div>
    {{ else }}
    <div class="footer-logo" onclick="goTo('/')">
      <img src="{{.Logo}}" alt="Logo" />
      <span>v{{.Version}}</span>
    </div>
    {{ end }}
    <div class="footer-links">
      {{ range .Footer.Links }}
      <a href="{{ .URL }}" target="{{ if .NewTab }}_blank{{ else }}_self{{ end }}" class="{{ .Icon }} icon">{{ .Caption }}</a>
      {{ end }}
    </div>
  </div>
</footer>
