{{template "partials/header" .}}

<ul>
    <div class="container">
        <div class="container-section">
            <a class="home-btn" onclick="goTo('/')">⬅️Go Back</a>
            <div class="sub-header">🔵 {{.GroupCaption}} - {{.Tag.Caption}}</div>
            <div class="flex-container">
                {{range .Tag.Links}}
                <div onclick="goToNewTab('{{.Link}}')" class="flex-item">
                    <span class="icon">🔗</span>
                    <span class="caption">{{.Caption}}</span>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</ul>

{{template "partials/footer" .}}
